%h1.logo
  %a{ :href => '/', :title => 'Reasons to Love' } Reasons to Love

%form{:action => '/whatever', :method => 'post', :class => 'create-list'}
  %input{:id => 'list-name', :type => 'text', :value => 'What do you love?'}/
  %button{:type => 'submit'}
    %img{:src => '/images/icons/bullet_go.png', :alt => ''}
    Create My List!
  /%input{:type => 'image', :src => '/images/button-create-list.png'}/

.blue-box
  #featured
    %h3 The Most Voted on Lists
    %ul
      %li
        Thanksgiving Day - (11 reasons to love)
      %li
        New York City - (7 reasons to love)
      %li
        Cats - (6 reasons to love)
      %li
        George W Bush - (5 reasons to love)
      %li
        Halloween - (5 reasons to love)
      %li
        My best friend Kara - (5 reasons to love)
    %h3 The Most Recently Created Lists
    %ul
      %li
        Thanksgiving Day - (11 reasons to love)
      %li
        New York City - (7 reasons to love)
      %li
        Cats - (6 reasons to love)
      %li
        George W Bush - (5 reasons to love)
      %li
        Halloween - (5 reasons to love)
      %li
        My best friend Kara - (5 reasons to love)

