body
  :background url(/images/top_nav.jpg) repeat-x
  :font small helvetica, arial, sans-serif


#nav-bar
  :position absolute
  :top 21px
  :background url(/images/top_nav_overlay.jpg) no-repeat
  :text-align center
  :width 100%
  :padding-top 2px

  li
    :display inline
    :border-right solid 1px #50bef6
    :padding 6px 0

    &.first
      :border-left solid 1px #50bef6

    a
      :color #fff
      :padding 5px 15px
      :line-height 2em
