body
  :background url(/images/top_nav.jpg) repeat-x
  :font small helvetica, arial, sans-serif


#nav-bar
  :position absolute
  :top 21px
  :background url(/images/top_nav_overlay.jpg) no-repeat
  :text-align center
  :width 100%
  :padding-top 2px

  li
    :display inline
    :border-right solid 1px #50bef6
    :padding 6px 0

    &.first
      :border-left solid 1px #50bef6

    a
      :color #fff
      :padding 5px 15px
      :line-height 2em

#bottom
  :margin-top 70px
  :width 100%
  :height 115px
  :background url(/images/bottom_nav.png) repeat-x

#main-content
  :position relative
  :top 55px
  :width 100%
  :text-align center

h1

  &.logo
    :background url(/images/logo.gif) no-repeat center
    :margin 0 auto
    :width 50%

    a
      :display block
      :height 77px
      :width 100%
      :text-indent -9999px

h2

  &.tagline
    :margin-top 25px
    :font-weight bold
    :font-style italic
    :font-size large

h3
  &.instructions
    :margin-top 25px
    :color #FF3399
    :font-style italic
    :font-size medium

    span
      :color #666

form.create-list
  :margin 35px auto
  :width 785px
  :height 120px
  :padding-top 29px
  :background url(/images/create-list.png) no-repeat
  input#list-name
    :margin-right 10px
    :font-size 1.8em
    :color #aaa
    :font-family Helvetica,Sans-Serif
    :padding 3px
    :width 66%
    &:focus, &:hover
      :background-color #FFFFCC
  button
    :background-color #fff
    :border 1px solid #dedede
    :border-top 1px solid #eee
    :border-left 1px solid #eee
    :font-family sans-serif
    :font-size 100%
    :line-height 130%
    :text-decoration none
    :font-weight bold
    :color #565656
    :cursor pointer
    :width auto
    :overflow visible
    :padding 10px 10px 9px 7px

    &[type]
      :line-height 17px

    img
      :margin 0 3px -3px 0 !important
      :padding 0
      :border none
      :width 16px
      :height 16px

div.blue-box h3
  :background url(/images/blue-box-header.png) no-repeat center
  :height 60px
  :text-indent -9999px
div.blue-box
